* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#fuck, #fuck td, #fuck th {
    border: 1px solid black;
    border-collapse: collapse;
}

#fuck td, #fuck th {
    padding: 10px;
}

table {
    width: 100%;
}

td {
    width: 33%;
}

th, td {
    text-align: center;
    padding: 10px;
}

td, th {
    font-family: sans-serif;
    font-size: 1vw;
}

h1 {
    text-align: center;
}

#exception th {
    width: 33%;
}

ol {
    border-bottom:2px solid #FFBF00;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ol li {
    float: right;
}

ol li a {
    color: #FFBF00;
	font-size:100%;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}