<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Check</display-name>

  <servlet>
    <servlet-name>namemodification</servlet-name>
    <jsp-file>/namemodification.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>namemodification</servlet-name>
    <url-pattern>/namemodification.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>food2</servlet-name>
    <jsp-file>/food2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>food2</servlet-name>
    <url-pattern>/food2.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>contact2</servlet-name>
    <jsp-file>/contact2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact2</servlet-name>
    <url-pattern>/contact2.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>service2</servlet-name>
    <jsp-file>/service2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>service2</servlet-name>
    <url-pattern>/service2.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>feedback</servlet-name>
    <jsp-file>/feedback.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/feedback.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>passwordmodification</servlet-name>
    <jsp-file>/passwordmodification.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordmodification</servlet-name>
    <url-pattern>/passwordmodification.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>checkout</servlet-name>
    <jsp-file>/checkout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>searching</servlet-name>
    <jsp-file>/searching.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>searching</servlet-name>
    <url-pattern>/searching.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>turnover</servlet-name>
    <jsp-file>/turnover.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>turnover</servlet-name>
    <url-pattern>/turnover.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>roomlist</servlet-name>
    <jsp-file>/roomlist.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>roomlist</servlet-name>
    <url-pattern>/roomlist.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminLoginSucceeded</servlet-name>
    <jsp-file>/AdminLoginSucceeded.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginSucceeded</servlet-name>
    <url-pattern>/AdminLoginSucceeded.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomListSortController</servlet-name>
    <servlet-class>roomlist.RoomListSortController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomListSortController</servlet-name>
    <url-pattern>/RoomListSortController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>authentication.CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/CancelOrder</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NameChanging</servlet-name>
    <servlet-class>authentication.NameChanging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameChanging</servlet-name>
    <url-pattern>/NameChanging</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomListController</servlet-name>
    <servlet-class>roomlist.RoomListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomListController</servlet-name>
    <url-pattern>/RoomListController</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>ViewTurnOver</servlet-name>
    <servlet-class>Admin.ViewTurnOver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTurnOver</servlet-name>
    <url-pattern>/ViewTurnOver</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserSearching</servlet-name>
    <servlet-class>Admin.UserSearching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearching</servlet-name>
    <url-pattern>/UserSearching</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CheckOutCompleted</servlet-name>
    <servlet-class>Admin.CheckOutCompleted</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutCompleted</servlet-name>
    <url-pattern>/CheckOutCompleted</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomSort</servlet-name>
    <servlet-class>Admin.RoomSort</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomSort</servlet-name>
    <url-pattern>/RoomSort</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomCheckOut</servlet-name>
    <servlet-class>Admin.RoomCheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomCheckOut</servlet-name>
    <url-pattern>/RoomCheckOut</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AccountView</servlet-name>
    <jsp-file>/AccountView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountView</servlet-name>
    <url-pattern>/AccountView.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginSucceeded</servlet-name>
    <jsp-file>/LoginSucceeded.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSucceeded</servlet-name>
    <url-pattern>/LoginSucceeded.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomBookingCancel</servlet-name>
    <servlet-class>booking.RoomBookingCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomBookingCancel</servlet-name>
    <url-pattern>/RoomBookingCancel</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomBookingConclusion</servlet-name>
    <servlet-class>booking.RoomBookingConclusion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomBookingConclusion</servlet-name>
    <url-pattern>/RoomBookingConclusion</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomBookingDone</servlet-name>
    <servlet-class>booking.RoomBookingDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomBookingDone</servlet-name>
    <url-pattern>/RoomBookingDone</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomBookingConfirmation</servlet-name>
    <servlet-class>booking.RoomBookingConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomBookingConfirmation</servlet-name>
    <url-pattern>/RoomBookingConfirmation</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomBookingProcess</servlet-name>
    <servlet-class>booking.RoomBookingProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomBookingProcess</servlet-name>
    <url-pattern>/RoomBookingProcess</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PasswordChanging</servlet-name>
    <servlet-class>authentication.PasswordChanging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordChanging</servlet-name>
    <url-pattern>/PasswordChanging</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FeedbackController</servlet-name>
    <servlet-class>authentication.FeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackController</servlet-name>
    <url-pattern>/FeedbackController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignInController</servlet-name>
    <servlet-class>authentication.SignInController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInController</servlet-name>
    <url-pattern>/SignInController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BookingApplicationController</servlet-name>
    <servlet-class>authentication.BookingApplicationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingApplicationController</servlet-name>
    <url-pattern>/BookingApplicationController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>authentication.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/hihi</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>authentication.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/AccountController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogOutController</servlet-name>
    <servlet-class>authentication.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutController</servlet-name>
    <url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoomBookingController</servlet-name>
    <servlet-class>booking.RoomBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomBookingController</servlet-name>
    <url-pattern>/RoomBookingController</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>FeedbackFilter</filter-name>
    <filter-class>authentication.FeedbackFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FeedbackFilter</filter-name>
    <servlet-name>FeedbackController</servlet-name>
  </filter-mapping>

  <filter>
    <filter-name>RoomBookingFilter</filter-name>
    <filter-class>booking.RoomBookingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RoomBookingFilter</filter-name>
    <servlet-name>RoomBookingController</servlet-name>
  </filter-mapping>



  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

</web-app>